@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

#adduserheading{
  font-family: 'Ubuntu', sans-serif;
}



#main{
background-color: #f3ebeb;
/* background: linear-gradient(148deg, rgba(2,0,36,1) 0%, rgba(0,0,159,1) 32%, rgba(0,212,255,1) 100%); */
}


#detailsCol{
  width: 50px;
}

#unauthorisedDiv{
  background-image: url('./assets/UnAuthorised.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 60%;
  margin: auto;
} 